site_name: pytorch-optimizer
site_description: 'optimizer & lr scheduler & loss function collections in PyTorch'
repo_name: 'kozistr/pytorch-optimizer'
repo_url: 'https://github.com/kozistr/pytorch_optimizer'
edit_uri: edit/main/docs/

theme:
  name: material
  highlightjs: true
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tooltips
  - navigation.footer
  - navigation.instant.preview
  - navigation.path
  # - navigation.sections
  # - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - search.highlight
  - search.suggest
  - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
  - javascripts/tables.js

plugins:
  - search
  - autorefs
  - awesome-nav
  - mkdocstrings:
      handlers:
        python:
          options:
            # https://mkdocstrings.github.io/python/usage/configuration/general/
            show_root_heading: true
            show_root_full_path: false
            show_root_members_full_path: false
            # show_symbol_type_toc: true
            allow_inspection: true
            show_bases: true
            show_source: true
            docstring_style: google
  - git-revision-date-localized:
      enabled: !ENV [ DEPLOY, false ]
      enable_creation_date: true
      type: timeago

markdown_extensions:
  - admonition
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_truly_sane_lists
  - markdown_include.include:
      base_path: .
