[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
isort = "==5.9.3"
black = "==21.9b0"
pylint = "==2.11.1"
twine = "==3.4.2"

[packages]
numpy = "==1.21.2"
torch = "==1.9.1"

[requires]
python_version = "3"
