[tool.poetry]
name = "pytorch_optimizer"
version = "2.3.0"
description = "optimizer & lr scheduler implementations in PyTorch with clean-code, strict types. Also, including useful optimization ideas."
license = "Apache-2.0"
authors = ["kozistr <kozistr@gmail.com>"]
maintainers = ["kozistr <kozistr@gmail.com>"]
readme = "README.rst"
homepage = "https://github.com/kozistr/pytorch_optimizer"
repository = "https://github.com/kozistr/pytorch_optimizer"
documentation = "https://pytorch-optimizers.readthedocs.io/en/latest"
keywords = ["pytorch", "deep-learning", "optimizer", "lr scheduler"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Education",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = "^3.7.2"
numpy = [
    { version = "=1.21.1", python = ">=3.7,<3.8"},
    { version = "*", python = ">=3.8"},
]
torch = { version = "^1.10", source = "torch"}

[tool.poetry.dev-dependencies]
isort = "^5.11.4"
black = "^22.12.0"
ruff = "^0.0.237"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"

[[tool.poetry.source]]
name = "torch"
url = "https://download.pytorch.org/whl/cpu"
secondary = true

[tool.ruff]
select = ["A", "B", "C4", "E", "F", "G", "I", "N", "S", "T", "ISC", "W", "INP", "PIE", "T20", "RET", "SIM", "ARG"]
ignore = []
fixable = ["A", "B", "C", "D", "E", "F"]
unfixable = ["F401"]
exclude = [
    ".eggs",
    ".git",
    ".mypy_cache",
    ".ruff_cache",
    ".github",
    ".venv",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "node_modules",
    "venv",
    "docs",
    "assets",
]
line-length = 119
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
target-version = "py39"

[tool.ruff.per-file-ignores]
"./hubconf.py" = ["INP001"]
"./tests/test_utils.py" = ["S101"]
"./tests/test_gradients.py" = ["S101"]
"./tests/test_optimizers.py" = ["S101"]
"./tests/test_optimizer_parameters.py" = ["S101"]
"./tests/test_load_optimizers.py" = ["S101"]
"./tests/test_load_lr_schedulers.py" = ["S101"]
"./tests/test_lr_scheduler_parameters.py" = ["S101"]
"./pytorch_optimizer/__init__.py" = ["F401"]
"./pytorch_optimizer/lr_scheduler/__init__.py" = ["F401"]

[tool.ruff.mccabe]
max-complexity = 10

[tool.coverage.run]
omit = [
    "./pytorch_optimizer/optimizer/gsam.py",
    "./pytorch_optimizer/optimizer/fp16.py",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
