--extra-index-url https://download.pytorch.org/whl/cpu

numpy==1.21.1 ; python_full_version >= "3.7.2" and python_version < "3.8"
numpy==1.24.2 ; python_version >= "3.8" and python_full_version < "4.0.0"
torch==1.13.1+cpu ; python_full_version >= "3.7.2" and python_full_version < "4.0.0"
typing-extensions==4.5.0 ; python_full_version >= "3.7.2" and python_full_version < "4.0.0"
