numpy==1.21.1 ; python_version >= "3.7" and python_version < "4.0"
setuptools==65.5.0 ; python_version >= "3.7" and python_version < "4.0"
torch==1.13.0 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
wheel==0.37.1 ; python_version >= "3.7" and python_version < "4.0"
