--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2.0
torch==2.8.0
mkdocs==1.6.1
mkdocs-material==9.6.16
pymdown-extensions==10.16.1
mkdocstrings-python==1.12.2
markdown-include==0.8.1
mdx_truly_sane_lists==1.3
mkdocs-awesome-nav==3.1.2
griffe==1.5.1
